<div class="widgetContent" dojoAttachPoint="containerNode"style="width:450px">

	<div class="widgetPanel"buttonIcon="assets/images/small_icons/j.png"buttonText="Elevation"style="height:70px">

		<table>
			<tr>
				<td><img id="SearchPOLYLINE1" class="toolbutton" src="js/mrsac/viewer/assets/images/icons/i_draw_rect.png"  dojoAttachEvent="onclick:onBuffToolButtonClick"title="Polyline"/></td>
				<td><img id="SearchFREEHAND_POLYLINE1" class="toolbutton" src="js/mrsac/viewer/assets/images/icons/i_draw_freeline.png"  dojoAttachEvent="onclick:onBuffToolButtonClick"title="Freehand Polyline"/></td>
				<td><img id="SearchClear1" class="toolbutton" src="js/mrsac/viewer/assets/images/icons/i_clear.png"dojoAttachEvent="onclick:clear"title="Clear"/></td>

				<td>Unit measure</td>
				<td>
				<select data-dojo-type="dijit/form/FilteringSelect"data-dojo-attach-point="registry"value="esriMiles">
					<option value="esriMiles">Miles</option>
					<option value="esriKilometers">Kilometers</option>
					<option value="esriMeters">Meters</option>
					<option value="esriNauticalMiles">Nautical Miles</option>
					<option value="esriYards">Yards</option>
					<option value="esriFeet">Feet</option>
				</select></td>

			</tr>

		</table>
		<table>
			<tr>

				<td style="position: relative;left:1%;"> Polyline </td>
				<td style="position: relative;left:4%;"> Freehand</td>
				<td style="position: relative;left:10%;"> Clear </td>
			</tr>
			<tr>
				<td style="position: relative;left:45%;top: 65%;"> Line </td>

			</tr>
		</table>

	</div>

	<div data-dojo-attach-point="profileChartNode"id="record" buttonIcon="assets/images/small_icons/i_table.png"buttonText="Result"></div>

</div>

