<div class="legendFrame" >
	<div id="legendContentPane" class="legendFrameClass" style="display: none;">
		<div id="legendHeader">
			<!-- <img src="img/tocIcon.png" class='headIcon' dojoAttachEvent="onclick:resetFunc"/>
			<h1 id="headTitle">Table of Content</h1>
			<img src="img/widget/minusred.png" class="minIcon" id="minIcon" dojoAttachEvent="onclick:minDivFunc"/>
			<img src="img/close.png" class="closeIcon" id="closeIcon"/> -->
		</div>
		<div id="tocDivContainer" style="overflow: auto;height: 270px;"></div>
	</div>
</div>
