<div style="height:auto">

	<!--<div id="info" style="left: 300px;position: absolute;color: white;
	text-shadow: 1px 1px black;font-family: sans-serif, halvetica;font-size:
	8pt;"></div>-->

	<span id="scale" style="position:absolute;height:13px;top:8px; left:370px;z-index:100; color:white;font-family:sans-serif, halvetica;font-size:8pt;width:150px;text-align:center"> </span>
	<img id="lastSeparator" src="img/separator_icon.png" style="left:508px;bottom:1px;position:absolute;cursor:pointer;height: 25px;width:25px;"/>
	<span id="result" style="position:absolute;height:13px;top:8px; left:540px;z-index:100; color:white;font-family:sans-serif, halvetica;font-size:8pt;width:180px;text-align:center"> Visitors Count (From 14 June 2017) : </span>
	<!-- <span id="result1" style="position:absolute;height:10px;top:4px;
	left:620px;z-index:100; color:white;font-family:sans-serif,
	halvetica;font-size:8pt;width:150px;text-align:center"> <a
	href="http://www.reliablecounter.com" target="_blank"><img
	src="http://www.reliablecounter.com/count.php?page=mrsac.maharashtra.gov.in/explore/&digit=style/plain/12/&reloads=0"
	alt="" title="" border="0"></a><br /><a href="http://www.fabbly.com"
	target="_blank" style="font-family: Geneva, Arial; font-size: 8px; color:
	#330010; text-decoration: none;">3d print file format</a> </span> -->
	<span id="result1" style="position:absolute;height:10px;top:6px; left:670px;z-index:100; color:white;font-family:sans-serif, halvetica;font-size:8pt;width:150px;text-align:center"> <img src="http://www.reliablecounter.com/count.php?page=mrsac.maharashtra.gov.in/explore/&digit=style/plain/12/&reloads=0" alt="" title="" border="0" style="font-family:sans-serif, halvetica;font-size:8pt;height: 14px;">
		<br />
	</span>
	<div>
		<a id="privacyPolicy" href="./geninfo/privacy_policy.html" style="position:absolute;right: 50px;color: white;font-size: 8pt;text-decoration: underline;" target="_blank"dojoAttachEvent="onclick:privacy">Privacy Policy</a>
	</div>
	<div>
		<a id="diclaimer" href="./geninfo/Disclaimer_geoportal.html" style="position:absolute;right: 140px;color: white;font-size: 8pt;text-decoration: underline;" target="_blank"dojoAttachEvent="onclick:terms_use">Disclaimer</a>
	</div>
	<div>
		<a id="copyright" href="./geninfo/copyright_policy.htm" style="position:absolute;right: 220px;color: white;font-size: 8pt;text-decoration: underline;" target="_blank"dojoAttachEvent="onclick:copyright">Copyright</a>
	</div>
	<div>
		<!-- Responsive Code -->
		<!-- Policy -->
		<img src="./img/policy.png" class="policies" id="policies" dojoAttachEvent="onClick:openOption">
		<div id="policyOption" class="footertool" style="position:absolute;bottom:2%;right:25% !important;display:none">

			<div class="buttons" style="background-color: rgb(211, 211, 211);opacity:0.95">

				<button  class="btn btn-primary btn-wide" >
					<a id="cp" href="./geninfo/copyright_policy.htm" target="_blank"  style="color:white">Copyright</a>
				</button>
				<button  class="btn btn-primary btn-wide" >
					<a id="disc" href="./geninfo/Disclaimer_geoportal.html" target="_blank"  style="color:white">Disclaimer</a>
				</button>
				<button  class="btn btn-primary btn-wide" >
					<a id="pp" href="./geninfo/privacy_policy.html" target="_blank" style="color:white">Privacy Policy</a>
				</button>

			</div>
		</div>
		<!-- Visitor Count -->
		<img src="./img/eye.png" class="visitorCount" id="visitorCount" dojoAttachEvent="onClick:viewVisitorCount">
		<div id="visitorCountBox" class="footertool" style="position:absolute;bottom:2%;right:25% !important;display:none">

			<div class="buttons" style="background-color: rgb(211, 211, 211);opacity:0.95">

				<button  class="btn btn-primary btn-wide" >
					<span>Visitor Count (From 14 June 2017) : </span>&nbsp;<img src="http://www.reliablecounter.com/count.php?page=mrsac.maharashtra.gov.in/explore/&digit=style/plain/12/&reloads=0" alt="" title="" border="0" style="font-family:sans-serif, halvetica;font-size:8pt;height: 14px;">
				</button>

			</div>
		</div>
		<img src="./img/location.png" class="loc" id="loc" dojoAttachEvent="onClick:viewLoc">
		<div id="locBox" class="footertool" style="position:absolute;bottom:2%;left:1% !important;display:none">

			<div class="buttons" style="background-color: rgb(211, 211, 211);opacity:0.95;width: 344px">
				<button  class="btn btn-primary btn-wide" style="width: 344px">
					<div id="scale2">
					</div>
				</button>
				<button  class="btn btn-primary btn-wide" style="width: 344px;height:20px">
					<div class="latlongbar2" id="latlongbar2" style="position:absolute;top:60%">
					</div>
				</button>
				

			</div>
		</div>
	</div>

	<!--
	<div style="width: 40%;left: 34%;position: relative;">
	<marquee style="color: yellow;font-size: 10pt;font-family: Tahoma;">
	The site will not be available on 21/09/2016 due to server maintenance activity.
	Inconvenience is regretted.
	</marquee>
	</div>-->

</div>

