<div class="infoPopupBody">
	<div class="infoPopupLeader" dojoAttachPoint="leaderNode"></div>
	<div class="widgetBox" style="width:100%;overflow:visible;" dojoAttachPoint="containerNode">
		
		<div dojoAttachPoint="titleNode" style="font-weight:bold;color: white"></div>
		<div dojoAttachPoint="contentNode"style="color: white"></div>
		<div dojoAttachPoint="linkNode" class="linkIcon" dojoAttachEvent="onclick:onFollowLink"></div>
		<div class="widgetButton wbClose infoPopupButton" style="top:0px" dojoAttachPoint="closeButton" dojoAttachEvent="onclick:onClose"></div>
		

	</div>
</div>