<div id="NavigationMenus" class="navigation">
	<img src="img/image.gif" style="left:-9px;top:-25px;position:absolute;cursor:pointer;height: 60px;width:85px;background-size:cover;"/>

	<div id="HomeButton"></div>
	<div id="LocateButton"></div>
	<div id="Zoomin" dojoAttachEvent="onclick:onNavMenuclick"title="Zoom In"></div>
	<div id="Zoomout" dojoAttachEvent="onclick:onNavMenuclick"title="Zoom Out"></div>
	<div id="Previous" dojoAttachEvent="onclick:onNavMenuclick"title="Previous Extent"></div>
	<div id="Next" dojoAttachEvent="onclick:onNavMenuclick"title="Next Extent"></div>
	<div id="pan" dojoAttachEvent="onclick:onNavMenuclick"title="Deactivate"></div>
<div id="pointerMouse" dojoAttachEvent="onclick:onNavMenuclick"title="Default"></div>
</div>
