<div class='resultItem'>
	<table style='width:100%'>
		<tr>
			<td style="width:5%"><img dojoAttachPoint='iconNode'/></td>
			<td style="width:95%"dojoAttachEvent='onclick:onClick,onmouseout:onMouseOut,onmousemove:onMouseMove'><div dojoAttachPoint='actionNode' class="resultAction" dojoAttachEvent="onclick:onAction"></div><div dojoAttachPoint='titleNode' style="font-weight:bold;"></div><div dojoAttachPoint='contentNode'></div><div dojoAttachPoint='linkNode' class="linkIcon" dojoAttachEvent="onclick:onFollowLink"></div></td>

			<td><img dojoAttachPoint='iconNode1'dojoAttachEvent='onclick:clearResult'class="nodeClass"/></td>

		</tr>
	</table>

</div>